<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>
<head>

<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="/favicon.ico" >
<link rel="Shortcut Icon" href="/favicon.ico" />
<script src="js/angular.js"></script>
<script src="js/videoinsert.js"></script>
<!--[if lt IE 9]>
	<script type="text/javascript" src="lib/html5shiv.js"></script>
	<script type="text/javascript" src="lib/respond.min.js"></script>
	<![endif]-->
<link rel="stylesheet" type="text/css" href="static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="static/h-ui.admin/css/style.css" />
<!--[if IE 6]>
	<script type="text/javascript" src="lib/DD_belatedPNG_0.0.8a-min.js"></script>
	<script>DD_belatedPNG.fix('*');</script>
	<![endif]-->
<!--/meta 作为公共模版分离出去-->

<title>添加视频</title>
<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
</head>
<body>
<h2  style="margin: 0px auto;text-align: center">首页视频添加页面</h2>
<article class="page-container">
	<form class="form form-horizontal" id="form-article-add">
			<div class="form form-horizontal" id="form-member-add">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>视频名称：</label>
					<div class="formControls col-xs-8 col-sm-9">
						<input type="text" class="input-text" value="" placeholder="请输入视频名称" id="videoname" name="videoname">
					</div>
				</div>
	<!--		<div class="row cl">-->
	<!--			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>视频地址：</label>-->
	<!--			<div class="formControls col-xs-8 col-sm-9">-->
	<!--				<input type="text" class="input-text" value="" placeholder="请输入视频地址" ng-model="videourl" id="videourl" name="videourl">-->
	<!--				<br/>-->
	<!--&lt;!&ndash;				<span style="color: red;">{{errormsg}}</span>&ndash;&gt;-->
	<!--&lt;!&ndash;				<span style="color: red;">{{successmsg}}</span>&ndash;&gt;-->
	<!--			</div>-->
	<!--		</div>-->
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">视频文件：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<div class="uploader-thum-container">
						<div id="fileList2" class="uploader-list"></div>
						<div id="filePicker2"><input type="file" id="videourl" value="选择视频" name="name"/></div>
<!--						<input type="submit" value="开始上传" id="btn-star2" class="btn btn-default btn-uploadstar radius ml-10"/>-->
					</div>
				</div>
			</div>

	<!--		<div class="row cl">-->
	<!--			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>封面地址：</label>-->
	<!--			<div class="formControls col-xs-8 col-sm-9">-->
	<!--				<input type="text" class="input-text" value="" placeholder="请输入封面地址" ng-model="videocoverurl" id="videocoverurl" name="videocoverurl">-->
	<!--			</div>-->
	<!--		</div>-->
			<div class="row cl">
				<label class="form-label col-xs-4 col-sm-3">封面图片：</label>
				<div class="formControls col-xs-8 col-sm-9">
					<div class="uploader-thum-container">
						<div id="fileList" class="uploader-list"></div>
						<div id="filePicker"><input id="videocoverurl" type="file" value="选择图片"/></div>
<!--						<button id="btn-star" class="btn bnt-default btn-uploadstar radius ml-10">开始上传</button>-->
					</div>
				</div>
			</div>

				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<button class="btn btn-primary radius" id="videoinsert">&nbsp;&nbsp;保存提交&nbsp;&nbsp;</button>
						<button onClick="article_save();" class="btn btn-secondary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存草稿</button>
						<button onClick="layer_close();" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
					</div>
				</div>
			</div>
		<br>
	</form>

</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="static/h-ui/js/H-ui.min.js"></script> 
<script type="text/javascript" src="static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript" src="lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="js/videoinsert.js"></script>
<script type="text/javascript">
$(function(){
	$('.skin-minimal input').iCheck({
		checkboxClass: 'icheckbox-blue',
		radioClass: 'iradio-blue',
		increaseArea: '20%'
	});
	
	$("#form-member-add").validate({
		rules:{
			username:{
				required:true,
				minlength:2,
				maxlength:16
			},
			sex:{
				required:true,
			},
			mobile:{
				required:true,
				isMobile:true,
			},
			email:{
				required:true,
				email:true,
			},
			uploadfile:{
				required:true,
			},
			
		},
		onkeyup:false,
		focusCleanup:true,
		success:"valid",
		submitHandler:function(form){
			//$(form).ajaxSubmit();
			var index = parent.layer.getFrameIndex(window.name);
			//parent.$('.btn-refresh').click();
			parent.layer.close(index);
		}
	});
});
</script>

<script type="text/javascript" src="lib/webuploader/0.1.5/webuploader.min.js"></script>

<script type="text/javascript">
	function article_save(){
		alert("刷新父级的时候会自动关闭弹层。")
		window.parent.location.reload();
	}

	$(document).ready(function(){
		$("#videoinsert ").on('click', function(){
			var flag = true;

			var videoUrl = $("#videourl")[0].files[0];
			var videoCoverUrl = $("#videocoverurl")[0].files[0];
			var videoName = $("#videoname").val();

			if (videoUrl == '' || videoCoverUrl ==''||videoName=='') {
				flag = false;
			}
			var formData = new FormData();//表单对象
			formData.append("videourl", videoUrl);    //生成一对表单属性
			formData.append("videocoverurl",videoCoverUrl);
			formData.append("videoname",videoName);
			console.log(formData);
			if (flag) {
				$.ajax({
					type: "POST",           //因为是传输文件，所以必须是post
					url: '/insertvideo.do',         //对应的后台处理类的地址
					data: formData,
                    cache:false,
					processData: false,
					contentType: false,
                    async:false,
					success: function (result) {
					    alert(result);
						var data = result.data;
						if (result.code == 1) {
							alert("文件上传成功");
							window.location.href = "index.html";
						} else if (result.code == -1) {
							alert("文件上传失败");
						}

					},
					error: function () {
						alert("网络错误，请稍后再试...");
					}
				});
			}

		});
	});


</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>
